<form action="/"> 
	<input type="submit" value="return to homepage"></input>
</form>

<h1> Control Times </h1>

{% for item in items %}
<h1> {{ item.location }} | {{item.km}} km</h1>
   <p> {{ item.open }} | {{ item.close }} </p>
{% endfor %}
